@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
    font-family: "Roboto Mono", monospace !important;
    background: #0f0f0f !important;
    color: #fff !important;
}